src/main/resources/schemas/shapetool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/shapetool"
           xmlns:tns="http://example.com/shapetool"
           elementFormDefault="qualified">

    <xs:element name="CircleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="radius" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CircleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
